.register {
    display: inline-block;
    vertical-align: top;
}
a {
    float: right;
}
.messages {
    width: 260px;
    display: inline-block;
    margin-left: 200px;
    margin-top: 40px;

}
div {
    display: inline-block;
    vertical-align: top;
}